html { 
    background-color: white;
}

body{
    padding: 0;
    margin: 0;
    z-index: 1;
    background-color: white;
}
#container{
    padding: 10px;
    z-index: 0;
    background-color: white;
    /* border: 1px solid red; */
    width: 98%;
    /* padding-left: 0px; */
    /* padding-right: 10px; */
    
}
#container img{
    margin: 18px;
    margin-left: 22px;
    width: 300px;
    height: 450px;
    /* border: 5px solid white; */
    opacity: 1.0;
    /* border: 1px solid red; */
}

#hidden-div{
    top: 20px;
    position: fixed;
    height: 720px;
    width: 800px;
    left: 310px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    border: 1px solid red;
    background-color: white;
}

#trailer {
    width: 800px;
    height: 500px;
}

#attribution{
    width: 100px;
    height: 73px;
}

#popular-btn, #top-rated-btn{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}